/* reset */
* {
margin: 0;
padding: 0;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

}
/* Estilo Desktop */
body{
    background-color: #0E1014;
    color: #ffffff;
}

header img{
    display: block; 
    margin: 75px 0 0 360px;
}

h1{
    font-size: 80px;
    font-family: 'unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;

}

h1 span{   
    color: #9747ff;
}

p{
    font-size: 24px;
    font-family: poppins;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color: #ffffff;
    font-size: 24px;
    font-family: poppins;
    text-decoration: none;
    background-color: #9747ff;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233e8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){
        
    header img{
        margin:65 0 0 65;
    }

    p{
        width: 648px;
        
    }
  
}

@media(max-width: 375px) {

    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px
    }

}
